


<div class="form-group">
  <%= address_form.label :firstname, Spree.t(:firstname) %>
  <%= address_form.text_field :firstname, class: 'form-control' %>
</div>
<div class="form-group">
  <%= address_form.label :lastname, Spree.t(:lastname) %>
  <%= address_form.text_field :lastname, class: 'form-control' %>
</div>

<div class="form-group" id="phone">
  <%= address_form.label :phone, Spree.t(:phone) %>
  <%= address_form.telephone_field :phone, class: 'form-control' %>
</div>

<div class="form-group" id="country">
  <%= address_form.label :country, Spree.t(:country) %>
  <%= address_form.select :country_id, options_for_select( available_countries.map{|c|[c.name, c.id]}),
                                      {:include_blank => Spree.t(:country_select).upcase},
                                     class: ' form-control spree-flat-select' %>

</div>
<div class="row">
<div class=col-6>
  <%= content_tag(:div, Spree.t(:poshta),id: "add_address", class: "btn btn-block btn-lg index_btn text-uppercase font-weight-bold")%>
</div>
<div class=col-6>
  <%= content_tag(:div, Spree.t(:nova_poshta),id: "add_poshta", class: "btn btn-block btn-lg index_btn text-uppercase font-weight-bold")%>
</div>
<p>&nbsp;</p>
</div>
<div class="form-group" id="state">
  <%= address_form.label :state, Spree.t(:state) %>
  <%= address_form.collection_select :state_id, {},:id, :name, { prompt: Spree.t(:state).upcase },{ class: 'form-control spree-flat-select'}%>

</div>

<div class="form-group" id="city">
  <%= address_form.label :city, Spree.t(:city) %>
  <%= address_form.text_field :city, class: 'form-control' %>
</div>
<div class="form-group" id="address1">
  <%= address_form.label :address1, Spree.t(:address1) %>
  <%= address_form.text_field :address1, class: 'form-control' %>
</div>

<div class="form-group" id="nova_poshta">
  <%= address_form.label :nova_poshta_address, Spree.t(:nova_poshta_address) %>
  <%=address_form.text_field :nova_poshta_address, {list:"address_nova_poshta_area", id:"address_nova_poshta_area1", class: 'form-control', autocomplete:"new-password" }%>

  <datalist id="address_nova_poshta_area" autocomplete="off">

  </datalist>
  <input type="hidden" id="nova_poshta_address" value="">
</div>


<div class="form-group" id="nova_poshta_number">
  <%= address_form.label :nova_poshta_number, Spree.t(:nova_poshta_number) %>
  <%= address_form.collection_select :nova_poshta_number, {},:id, :name, { prompt: Spree.t(:nova_poshta_number).upcase, include_blank: true }, class: 'form-control spree-flat-select' %>
</div>

<script>
document.addEventListener('turbolinks:load', function () {

$("#state").hide();
$("#city").hide();
$("#address1").hide();
$("#nova_poshta").hide();
$("#nova_poshta_number").hide();
$("#add_address").hide();
$("#add_poshta").hide();
$("#country").change(function(event) {

var countryId  =  $('#country').find(":selected").val();

if (countryId == 230){
  $("#nova_poshta").hide();
  $("#nova_poshta_number").hide();
  $("#state").hide();
  $("#city").hide();
  $("#address1").hide();
  $("#add_address").show();
  $("#add_poshta").show();
$("#add_address").click(function(event) {
  $("#address_nova_poshta_number").val("")
  $("#address_nova_poshta_area1").val("");

$.ajax({
              async: false,
              method: 'GET',
              url: Spree.pathFor('/api/v2/storefront/countries/' + countryId + '?include=states'),
              dataType: 'json'
            }).done(function(data) {
              $('#order_bill_address_attributes_state_id').empty();
              if ("<%=I18n.locale %>" == "uk"){
              $('#order_bill_address_attributes_state_id').append(new Option("Оберіть регіон"));
            }else{
              $('#order_bill_address_attributes_state_id').append(new Option("Выберите регион"));
            }
            var json = data.included;
            for (var i = 0; i < json.length; i++) {
              var obj = json[i];
              $('#order_bill_address_attributes_state_id').append(new Option(obj.attributes.name, obj.id));

            }


});


$("#nova_poshta").hide();
$("#nova_poshta_number").hide();
$("#state").show();
$("#city").show();
$("#address1").show();
});

$( "#add_poshta" ).click(function() {
  $("#address_state").val("");
  $("#address_city").val("");
  $("#address_address1").val("");
  $('#address_state_id').val("");
  $("#state").hide();
  $("#city").hide();
  $("#address1").hide();

  $("#nova_poshta").show();

  if ("<%=I18n.locale %>" == "ru"){
  localStorage.clear();

  var settings = {
    modelName: "Address",
    calledMethod: "getCities",
    methodProperties: {},
    apiKey: "<%=Rails.application.credentials[:nova_poshta]%>"
  };

  $.ajax({
          url: "https://api.novaposhta.ua/v2.0/json/",
          method: "POST",
          processData: false,
          crossDomain: true,
          async: true,
          contentType: "application/json",
          data: JSON.stringify(settings)
      }).done(function (response) {

        var json = response.data;
        for (var i = 0; i < json.length; i++) {
          var obj = json[i];
          var ru ={
            "desc": `${obj.SettlementTypeDescriptionRu + ' ' +obj.DescriptionRu.trim().replace(/ *\([^)]*\) */g, "")+ ', '+'обл.'+obj.AreaDescriptionRu}`,
            "ref": `${obj.Ref}`
          }
          localStorage.setItem( `${(obj.DescriptionRu).trim().replace(/ *\([^)]*\) */g, "")}`, JSON.stringify(ru))

        }

      });
}

  $('#address_nova_poshta_area1').keyup(function(e) {
    e.preventDefault();
    if ($(this).val().length > 2) {

   var input_value = $( this ).val();
   var final_input_value = input_value.charAt(0).toUpperCase() + input_value.slice(1).toLowerCase();

   if ("<%=I18n.locale %>" == "uk"){
     var settings = {
       modelName: "Address",
       calledMethod: "getCities",
       methodProperties: {
         FindByString: final_input_value
       },
       apiKey: "<%=Rails.application.credentials[:nova_poshta]%>"

     };


$.ajax({
      url: "https://api.novaposhta.ua/v2.0/json/",
      method: "POST",
      processData: false,
      crossDomain: true,
      async: true,
      contentType: "application/json",
      data: JSON.stringify(settings)
  }).done(function (response) {
    $('#address_nova_poshta_area').empty();
    console.log(response);
    var json = response.data;
    for (var i = 0; i < json.length; i++) {
      var obj = json[i];
      $('#address_nova_poshta_area').append(
        `<option data-value=${obj.Ref}>
        ${obj.SettlementTypeDescription + ' ' +(obj.Description).trim().replace(/ *\([^)]*\) */g, "") + ', '+"обл."+obj.AreaDescription}
        </option>`
      );
    }
  });
}else{
   var json = JSON.parse(localStorage.getItem(final_input_value))


   $('#address_nova_poshta_area').empty();

     $('#address_nova_poshta_area').append(
       `<option data-value=${json['ref']}>
       ${json["desc"]}
       </option>`
     );
   }
}
e.preventDefault();
});
$('#address_nova_poshta_area1').change(function (e) {
  e.preventDefault();
    var val =  $(this).val();
    var hidden_value = $('#address_nova_poshta_area option').filter(function() {
     return this.value == val;
   }).data('value');
   $("#nova_poshta_address").val(hidden_value).trigger('change');
});
$('#nova_poshta_address').change(function (e) {
  e.preventDefault();
  var cityRef =  $(this).val();
if (cityRef.length > 4){
  var settings = {
    modelName: "AddressGeneral",
    calledMethod: "getWarehouses",
    methodProperties: {
      CityRef: cityRef
    },
    apiKey: "<%=Rails.application.credentials[:nova_poshta]%>"
  };

  $.ajax({
        url: "https://api.novaposhta.ua/v2.0/json/",
        method: "POST",
        processData: false,
        crossDomain: true,
        async: true,
        contentType: "application/json",
        data: JSON.stringify(settings)
    }).done(function (response) {
      $('#order_bill_address_attributes_nova_poshta_number').empty();
      console.log(response);
      var json = response.data;
      for (var i = 0; i < json.length; i++) {
        var obj = json[i];
        if ("<%=I18n.locale %>" == "uk"){
        $('#order_bill_address_attributes_nova_poshta_number').append(new Option(obj.Description, obj.Description));
      }else{
        $('#order_bill_address_attributes_nova_poshta_number').append(new Option(obj.DescriptionRu, obj.DescriptionRu));
      }

      }
    });
    $('#nova_poshta_number').show();
    e.preventDefault();
  }
});
});
}else{
  $("#add_address").hide();
  $("#add_poshta").hide();
  $("#nova_poshta").hide();
  $('#nova_poshta_number').hide();
  $('#address_nova_poshta_number').empty();
  $('#address_nova_poshta_number').val("");
  $('#address_nova_poshta_area1').empty();
  $('#address_nova_poshta_area1').val("");
  $("#address_state").val("");
  $("#address_city").val("");
  $("#address_address1").val("");
  $('#address_state_id').val("");
  $("#state").hide();
  $("#city").hide();
  $("#address1").hide();

  $.ajax({
                async: false,
                method: 'GET',
                url: Spree.pathFor('/api/v2/storefront/countries/' + countryId + '?include=states'),
                dataType: 'json'
              }).done(function(data) {
                $('#order_bill_address_attributes_state_id').empty();
                if ("<%=I18n.locale %>" == "uk"){
                $('#order_bill_address_attributes_state_id').append(new Option("Оберіть регіон"));
              }else{
                $('#order_bill_address_attributes_state_id').append(new Option("Выберите регион"));
              }
              var json = data.included;
              for (var i = 0; i < json.length; i++) {
                var obj = json[i];
                $('#order_bill_address_attributes_state_id').append(new Option(obj.attributes.name, obj.id));

              }


  });
  $("#state").show();
  $("#city").show();
  $("#address1").show();

}
});

});
</script>
