<h1>Новини</h1>
<%= link_to 'Створити новину', spree.new_admin_post_path %>
<table width="100%" border="1" align="center"
     cellpadding="4" cellspacing="0">
  <tr>
    <th >Заголовок</th>
    <th >Переклад</th>
    <th >Переглянути</th>
    <th >Редагувати</th>
    <th >Видалити</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to 'Переклад', admin_create_ru_form_path(id: post.id)%></td>
      <td><%= link_to 'Переглянути', admin_post_path(post.id) %></td>
      <td><%= link_to 'Редагувати', edit_admin_post_path(post.id) %></td>
      <td><%= link_to 'Видалити', admin_post_path(post.id),
              method: :delete,
              data: { confirm: 'Видалити?' } %></td>
    </tr>
  <% end %>
</table>
