<%= javascript_include_tag Ckeditor.cdn_url %>
<%= javascript_include_tag 'ckeditor/config.js' %>
<div id="attr_fields">

  <% SpreeI18n::Config.available_locales.each do |locale| %>

      <%= f.globalize_fields_for locale.to_sym do |g| %>
      <% @resource.class.translated_attribute_names.each_with_index do |attr, i| %>

        <div class="panel panel-default <%= attr %> <%= locale %>" style="display:<%= i == 0 ? 'auto' : 'none' %>;">
          <div class="panel-heading">
            <% I18n.with_locale(locale) do %>
              <%= @resource.class.human_attribute_name(attr) %>

              <div class="pull-right text-muted">
                <small><i><%= Spree.t(:'i18n.this_file_language') %></i></small>
              </div>
            <% end %>
          </div>

          <div class="panel-body">
            <% field_type = @resource.class.translation_class.columns_hash[attr.to_s].type %>
            <%if !(f.object.translations.find_by_locale locale).blank?%>
            <% if field_type == :text %>
              <%= g.cktext_area attr, class: 'form-control', ckeditor: { toolbar: "Full",language: 'uk'},value: (f.object.translations.find_by_locale locale)[attr] || ""%>
            <% else %>
              <%= g.text_field attr, class: 'form-control',value: (f.object.translations.find_by_locale locale)[attr] || "" %>
            <% end %>
            <%else%>
            <% if field_type == :text %>
              <%= g.cktext_area attr, class: 'form-control', ckeditor: { toolbar: "Full",language: 'uk'}%>
            <% else %>
              <%= g.text_field attr, class: 'form-control' %>
            <% end %>
            <%end%>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <p class="no-translations" style="display: none">
    <%= Spree.t(:'globalize.no_translations_for_criteria') %>
  </p>
</div>

<hr/>
