<% attachments.inline["#{name_attach(line_item.variant)}"] = variant_image_url(line_item.variant)%>
<tr>
  <td class="purchase_image">
    <% if frontend_available? %>
      <%= link_to(image_tag(attachments.inline["#{name_attach(line_item.variant)}"].url, size: "90x90"), spree.product_url(line_item.product)) %>
    <% else %>
      <%= image_tag(attachments.inline["#{name_attach(line_item.variant)}"].url, size: "90x90") %>
    <% end %>
  </td>
  <td class="purchase_item">
    <strong>
      <span class="f-fallback">
        <% if frontend_available? %>
          <%= link_to raw(line_item.name), spree.product_url(line_item.product) %>
        <% else %>
          <%= raw(line_item.name) %>
        <% end %>
      </span>
    </strong>
    <span class="purchase_item--additional"><%= raw(line_item.variant.options_text) -%></span>
  </td>
  <td class="align-right">
    <span class="f-fallback purchase_item_price">
     <%= line_item.quantity %> <span> &nbsp; x  &nbsp;</span> <%= line_item.single_money %>

   </span>
  </td>
</tr>
