<%product = !@product.translations.find_by(locale: I18n.locale).nil? ? @product.translations.find_by(locale: I18n.locale) : @product%>
<div class="tab">
  <button class="tablinks col-4 col-md-4 col-lg-4 first_button"  id="iframe"><h3 class="product_d product-details-subtitle"><%= "3D фото" %></h3></button>
  <button class="tablinks col-4 col-md-4 col-lg-4"  id="des" ><h3 class="product_d product-details-subtitle"><%= Spree.t(:description) %></h3></button>
  <button class="tablinks col-4 col-md-4 col-lg-4"  id="short_des"><h3 class="product_d product-details-subtitle"><%= Spree.t(:short_description) %></h3></button>
</div>

<div id="Lviv" class="tabcontent">
  <div  class="m-0 text-break product-description " data-hook="description">
    <p id="overley" class="product_d"><%=@explanation%></p>
    <div id="rotation">
    <%= image_tag "noimage/534.JPG"%>
    <%= image_tag "noimage/535.JPG"%>
    <%= image_tag "noimage/536.JPG"%>
    <%= image_tag "noimage/537.JPG"%>
    <%= image_tag "noimage/538.JPG"%>
    <%= image_tag "noimage/539.JPG"%>
    <%= image_tag "noimage/540.JPG"%>
    <%= image_tag "noimage/541.JPG"%>
    <%= image_tag "noimage/542.JPG"%>
    <%= image_tag "noimage/543.JPG"%>
    <%= image_tag "noimage/544.JPG"%>
    <%= image_tag "noimage/545.JPG"%>
    <%= image_tag "noimage/546.JPG"%>
    <%= image_tag "noimage/547.JPG"%>
    <%= image_tag "noimage/548.JPG"%>
    <%= image_tag "noimage/549.JPG"%>
    <%= image_tag "noimage/550.JPG"%>
    <%= image_tag "noimage/551.JPG"%>
    <%= image_tag "noimage/552.JPG"%>
    <%= image_tag "noimage/553.JPG"%>
    <%= image_tag "noimage/554.JPG"%>
    <%= image_tag "noimage/555.JPG"%>
    <%= image_tag "noimage/556.JPG"%>
    <%= image_tag "noimage/557.JPG"%>
    </div>

</div>
</div>

<div id="London" class="tabcontent">
  <div  class="m-0 text-break product-description " data-hook="description">
  <%= raw product_description(product) %>
</div>
</div>

<div id="Paris" class="tabcontent">
  <div id="product-description-long" class="m-0 text-break product-description" data-hook="description">
    <%= raw product.short_description if product.short_description%>
  </div>
</div>
