
<div class="container dropdown d-none d-lg-flex justify-content-end mt-5 pr-4 pb-3 plp-sort">
  <div data-toggle="dropdown" class="plp-sort-header">
    <%= Spree.t("plp.#{ params[:sort_by].blank? ? 'sort_by': params[:sort_by].gsub('-', '_') }") %>
    <%= icon(name: 'arrow-right',
             classes: 'spree-icon-arrow spree-icon-arrow-up ml-3 plp-sort-header-arrow--up',
             width: 18,
             height: 18) %>
    <%= icon(name: 'arrow-right',
             classes: 'spree-icon-arrow spree-icon-arrow-down ml-3 plp-sort-header-arrow--down',
             width: 18,
             height: 18) %>
  </div>

  <div class="dropdown-menu sort">
    <ul class="pt-1 plp-sort-dropdown-ul">
      <li class="p-3 plp-sort-dropdown-ul-li">
        <%= link_to Spree.t('plp.created_at'), url_for(permitted_params.merge(sort_by: 'created_at')) %>
      </li>
      <li class="p-3 plp-sort-dropdown-ul-li">
        <%= link_to Spree.t('plp.price_sort'), url_for(permitted_params.merge(sort_by: 'price')) %>
      </li>
    </ul>
  </div>
</div>
