<div id="sort-by-overlay" class="plp-overlay" style="display: none;">
  <div class="container">
    <div class="plp-overlay-header">
      <%= Spree.t('plp.sort_by') %>
      <%= inline_svg_tag 'close.svg', id: 'sort-by-overlay-hide-button' %>
    </div>
  </div>
  <div class="plp-overlay-header-border"></div>
  <ul class="pt-1 plp-overlay-ul">

    <li class="p-3 plp-overlay-ul-li">
      <a href="<%= url_for(permitted_params.merge(sort_by: 'created_at')) %>" >
        <div class="plp-empty-dot">
          <div class="filled-dot"></div>
        </div>
        <%= Spree.t('plp.created_at') %>
      </a>
    </li>
    <li class="p-3 plp-overlay-ul-li">
      <a href="<%= url_for(permitted_params.merge(sort_by: 'price')) %>" >
        <div class="plp-empty-dot">
          <div class="filled-dot"></div>
        </div>
        <%= Spree.t('plp.price_sort') %>
      </a>
    </li>

  </ul>
</div>
