<div class="col-6">
    <%= paginate @collection_category, remote: true, theme: 'twitter-bootstrap-4' %>
  </div>

<% if @collection_category.any? %>
  <table class="table" id="listing_products">
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th><%= Spree.t(:sku) %></th>
        <th><%= Spree.t(:status) %></th>
        <th><%= Spree.t(:name)%></th>
        <th><%= Spree.t(:taxon) %></th>
        <th><%= Spree.t(:taxonomy) %></th>
        <th><%= Spree.t(:option_values) %></th>
        <th ><%= Spree.t(:price) %></th>
        <th data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection_category.each do |product| %>
          <tr <%== "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="sku"><%= product.sku rescue '' %></td>
            <td class="status"><%= available_status(product) %> </td>
            <td><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
            <td class="taxon"><%= product.taxons.map{|c|c.name}.join(",") %></td>
            <td class="taxonomy"><%= product.taxons.first.taxonomy.name if product.taxons.count > 0%></td>
            <td class="option_values">
              <%if product.variants.count > 0%>
              <a data-toggle="collapse" href="#variant<%=product.id%>" role="button" aria-expanded="false" aria-controls="variant<%product.id%>">
                <%= "Кількість варіантів: " "#{product.variants.count}"%>
              </a>
              <div class="collapse" id="variant<%=product.id%>">
              <div class="card card-body">
              <% product.variants.each do |c| %>
                <% c.option_values.each do |v| %>
                  <p>
                    <%= v.option_type.presentation%>
                    <%= v.presentation %>
                  </p>
                <%end%>
                <%end%>
                <%end%>
              </div>
            </div>
            </td>
            </td>
            <td>
            <%if product.prices.count > 0%>
            <a data-toggle="collapse" href="#collapse<%=product.id%>" role="button" aria-expanded="false" aria-controls="collapse<%product.id%>">
              <%if !product.default_variant.prices.find_by(role_id: Spree::Role.find_by(name: :rozdrib).id).amount_usd.nil?%>
              <%= number_to_currency(product.default_variant.prices.find_by(role_id: Spree::Role.find_by(name: :rozdrib).id).amount_usd, unit: "$", separator: ".", delimiter: "")%>
              <%else%>
              <%=0%>
              <%end%></a>
            <div class="collapse" id="collapse<%=product.id%>">
            <div class="card card-body">
              <% product.default_variant.prices.where(variant_id: product.id).each do |v|%>
                <p><%= Spree::Role.find(v.role_id).name%>
                <%=v.amount_usd%></p>
                <%end%>
            </div>
          </div>

          <%else%>
          <a data-toggle="collapse" href="#collapse<%=product.id%>" role="button" aria-expanded="false" aria-controls="collapse<%product.id%>">
            <%= product.display_price.to_html rescue '' %>
          </a>
          <div class="collapse" id="collapse<%=product.id%>">
          <div class="card card-body">
            Наразі не встановлені
          </div>
        </div>

        <%end%>
        </td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <%= link_to_edit product, no_text: true, class: 'edit' if can?(:edit, product) && !product.deleted? %>
              <%= link_to_clone product, no_text: true, class: 'clone' if can?(:clone, product) %>
              <%= link_to_delete product, no_text: true if can?(:delete, product) && !product.deleted? %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Product)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Product) %>!
  </div>
<% end %>
<div class="col-6">
    <%= paginate @collection_category, remote: true, theme: 'twitter-bootstrap-4' %>
  </div>
