<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Product) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_product), new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_product' } %>
<% end if can?(:create, Spree::Product) %>
<div >
<p>Курс долара</p>
<h1 id="rate"><%= @rate %></h1>
  <%= button_link_to "Оновити курс", admin_rate_url, { remote: true, class: "btn-success", icon: 'add' } %>
</div>
<p>&nbsp;</p>
<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">

    <%= search_form_for [:admin, @search] do |f| %>
      <%- locals = {f: f} %>
      <div data-hook="admin_products_index_search" class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :name_cont, Spree.t(:name) %>
            <%= f.text_field :name_cont, size: 15, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :variants_including_master_sku_cont, Spree.t(:sku) %>
            <%= f.text_field :variants_including_master_sku_cont, size: 15, class: "form-control js-filterable" %>
          </div>
        </div>

      </div>
      <div data-hook="admin_products_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>

  </div>
<% end %>

<div class="form-inline">
  <div class="form-group mb-6">
<%= form_tag(admin_search_taxonomy_path, method: 'get', remote: true) do %>
<%= collection_select :taxonomy_id, :id, Spree::Taxonomy.all, :id, :name, {include_blank: true},class: "form-control" %>
</div>
<div class="form-group mb-6">&nbsp;</div>
<%= submit_tag(Spree.t(:search), class: "btn btn-primary mb-6", data: { disable_with: "Зачекайте..." })%>
<%end%>
</div>
<div id="collection">
<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>

<%= render partial: 'spree/admin/products/collection', locals: { collection: @collection }%>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
</div>
