<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<% content_for :page_title do %>
<%= link_to Spree.t(:products), spree.admin_products_url %> /
<%= Spree.t(:new_product) %>
<% end %>

<%= form_for [:admin, @product], html: { multipart: true } do |f| %>
<fieldset data-hook="new_product">
  <%= f.field_container :name, class: ['form-group'] do %>
  <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
  <%= f.text_field :name, class: 'form-control title', required: :required %>
  <%= f.error_message_on :name %>
  <% end %>

  <div data-hook="product-from-prototype" id="product-from-prototype">
    <%= render template: 'spree/admin/prototypes/show' if @prototype %>
  </div>

  <%= render partial: 'spree/admin/shared/new_resource_links' %>

</fieldset>
<% end %>
