<div class="row">
  <div data-hook="admin_variant_form_fields" class="col-12 col-md-6">
    <div data-hook="variants">
      <% @product.option_types.each do |option_type| %>
        <div class="form-group" data-hook="presentation">
          <%= label :new_variant, option_type.presentation %>
            <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
              { include_blank: true }, { name: 'variant[option_value_ids][]', class: 'select2' } %>
        </div>
      <% end %>

      <%if f.object.product.variants.count >= 1%>
      <div class="form-group" data-hook="sku">
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, class: 'form-control' %>
      </div>
      <%end%>
      <%if f.object.product.variants.count >= 1 %>
      <div class="col-12">
        <%= f.label :prices_rozdrib, "Роздріб" %>
        <%=f.fields_for :prices, @variant.prices.build do |price| %>
        <%=price.text_field :amount_usd,class: 'form-control', value: price.object.amount_usd || 0.00%>
        <%=price.hidden_field :role_id, value: Spree::Role.find_by(name: :rozdrib).id%>
        <%end%>
      </div>

      <div class="col-12">
        <%= f.label :prices_opt, "Опт" %>
        <%=f.fields_for :prices, @variant.prices.build do |price| %>
        <%=price.text_field :amount_usd,class: 'form-control', value: price.object.amount_usd || 0.00%>
        <%=price.hidden_field :role_id, value: Spree::Role.find_by(name: :opt).id%>
        <%end%>
      </div>

      <div class="col-12">
        <%= f.label :prices_gold, "Голд" %>
        <%=f.fields_for :prices, @variant.prices.build do |price| %>
        <%=price.text_field :amount_usd,class: 'form-control', value: price.object.amount_usd || 0.00%>
        <%=price.hidden_field :role_id, value: Spree::Role.find_by(name: :gold).id%>
        <%end%>
      </div>

      <div class="col-12">
        <%= f.label :prices_vip, "Віп" %>
        <%=f.fields_for :prices, @variant.prices.build do |price| %>
        <%=price.text_field :amount_usd,class: 'form-control', value: price.object.amount_usd || 0.00%>
        <%=price.hidden_field :role_id, value: Spree::Role.find_by(name: :vip).id%>
        <%end%>
      </div>

      <div class="col-12">
        <%= f.label :prices_vip2, "Віп2" %>
        <%=f.fields_for :prices, @variant.prices.build do |price| %>
        <%=price.text_field :amount_usd,class: 'form-control', value: price.object.amount_usd || 0.00%>
        <%=price.hidden_field :role_id, value: Spree::Role.find_by(name: :vip2).id%>
        <%end%>
      </div>

      <div class="col-12">
        <%= f.label :prices_vip1, "Віп1" %>
        <%=f.fields_for :prices, @variant.prices.build do |price| %>
        <%=price.text_field :amount_usd,class: 'form-control', value: price.object.amount_usd || 0.00%>
        <%=price.hidden_field :role_id, value: Spree::Role.find_by(name: :vip1).id%>
        <%end%>
      </div>
      <%end%>
</div>
</div>
</div>
