<div class="row">
  <div data-hook="admin_variant_form_fields" class="col-12 col-md-6">
    <div data-hook="variants">
      <% @product.option_types.each do |option_type| %>
        <div class="form-group" data-hook="presentation">
          <%= label :new_variant, option_type.presentation %>
          <% if option_type.name == 'color' %>
            <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :name,
              { include_blank: true }, { name: 'variant[option_value_ids][]', class: 'select2' } %>
          <% else %>
            <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
              { include_blank: true }, { name: 'variant[option_value_ids][]', class: 'select2' } %>
          <% end %>
        </div>
      <% end %>

      <div class="form-group" data-hook="sku">
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, class: 'form-control' %>
      </div>


</div>
</div>
</div>
