<div class="address vcard">
  <div class="fn"><%= address.full_name %></div>
  <% unless address.nova_poshta_address.blank? %>
    <div class="org">
      <%= address.nova_poshta_address %>
    </div>
  <% end %>
  <% unless address.nova_poshta_number.blank? %>
    <div class="org">
      <%= address.nova_poshta_number %>
    </div>
  <% end %>
  <div class="adr">
    <% unless address.address1.blank? %>
    <div class="street-address">
      <div class="street-address-line">
        <%= address.address1 %>
      </div>
    </div>
    <%end%>
    <div class="local">
      <% unless address.city.blank? %>
      <span class="locality"><%= address.city %></span>
        <%end%>
      <div class="country-name"><%= address.country.try(:name) %></div>
    </div>
  </div>
</div>
