<% cache spree_nav_cache_key('footer') do %>
  <footer id="footer" class="pt-2 mx-auto border-top footer-spree" data-turbolinks-permanent>
    <div class="container">
      <div class="row d-xl-flex py-5 text-uppercase footer-spree-menu-links ">
        <div class="col-6">
        <% spree_navigation_data.first(3).each do |root| %>
            <div class="col-12">
              <div class="footer-spree-label space_footer">
                <%= link_to root[:title], spree.nested_taxons_path(root[:url]), class: "tax_footer" %>
              </div>

            </div>
          <% end %>
        </div>
        <div class="col-6">
        <% spree_navigation_data.last(3).each do |root| %>
            <div class="col-12">
              <div class="footer-spree-label space_footer">
                <%= link_to root[:title], spree.nested_taxons_path(root[:url]), class: "tax_footer" %>
              </div>

            </div>
          <% end %>
        </div>
      </div>
      <div class="row d-xl-flex py-5 text-uppercase footer-spree-menu-links ">
          <% if spree.respond_to?(:account_path) %>
            <div class="col-6 ">
              <div class="footer-spree-label">
                <span class= "account_title"><%= Spree.t('nav_bar.my_account')  %></span>
              </div>
              <div class="pt-2">
                <%= link_to Spree.t('nav_bar.my_orders'), spree.account_path(anchor: "account-my-orders"), class: "address_footer" %>
              </div>
            </div>
          <% end %>


        <div class="col-6">
          <div class="footer-spree-label">
            <span class= "account_title"><%= Spree.t(:contact_us) %></span>
          </div>

            <span class="address_info"><%= "#{Spree.t(:call_us)}:" %></span><span class="address_info"> <%= Spree::Config.first_phone%></span>
            <br>
              <span class="address_info"><%= "#{Spree.t(:email)}:" %></span><span class="address_info"> <%=Spree::Config.email%></span>

          </div>

      </div>

<div class="col-12 text-center">
<%=link_to image_tag("facebook_footer.png" , class: "footer_icon"), "https://uk-ua.facebook.com/login/", target: :_blank %>
<%=link_to image_tag("twit_footer.png" , class: "footer_icon"), "https://uk-ua.facebook.com/login/", target: :_blank %>
<%=link_to image_tag("inst_footer.png" , class: "footer_icon"), "https://uk-ua.facebook.com/login/", target: :_blank %>
</div>

    </div>
<div>&nbsp;</div>
  </footer>
<% end %>
