<%# leaving #spree-header div for legacy support  %>
<% cache spree_nav_cache_key('header') do %>

<div id="spree-header" data-turbolinks-permanent>
  <div id="sidenav">
  <a href='#' class='closebtn' id="closeNav" >&times;</a>
  <ul class="header_ul_sidenav">
    <li class="header_ul_sidenav_li"><%= link_to Spree.t('homepage.main_page'), spree.root_path, class: "blue" %></li>

    <% spree_navigation_data.each do |root| %>
    <li class="header_ul_sidenav_li"><%= link_to Spree.t(root[:title]), spree.nested_taxons_path(root[:url]),class:"blue" %></li>
    <%end%>

  <li class="header_ul_sidenav_li"><%= link_to Spree.t('homepage.contact'), spree.contact_us_path, class: "blue" %></li>
  <li class="header_ul_sidenav_li"><%= link_to Spree.t('homepage.news'), spree.posts_path, class: "blue" %></li>
  <% if !spree_user_signed_in? %>
    <%= link_to Spree.t('nav_bar.log_in'), spree_login_path, class: "blue"  %>
        <%else%>
    <%= link_to Spree.t('nav_bar.log_out'), spree_logout_path, class: "blue", method: :get  %>
  <% end %>
  </ul>
  <div class="col-12 text-center">
  <%=link_to image_tag("facebook_header.png" , class: "footer_icon"), "https://uk-ua.facebook.com/login/", target: :_blank %>
  <%=link_to image_tag("twit_header.png" , class: "footer_icon"), "https://uk-ua.facebook.com/login/", target: :_blank %>
  <%=link_to image_tag("inst_header.png" , class: "footer_icon"), "https://uk-ua.facebook.com/login/", target: :_blank %>
  </div>
  <div class="col-12 text-center">
  <p><div class="row"><div class="col-2"><%= image_tag("phone_header.png" , class: "header_icon_img")%></div><div class="col-9"><span class="header_icon"><%= Spree::Config.first_mob%></span></div></div></p>
  <p><div class="row"><div class="col-2"><%= image_tag("phone_header.png" , class: "header_icon_img")%></div><div class="col-9"><span class="header_icon"><%= Spree::Config.second_mob%></span></div></div></p>
  <p><div class="row"><div class="col-2"><%=image_tag "viber_header.png", class: "header_icon_img"%></div><div class="col-9"><span class="header_icon"><%= Spree::Config.viber%></span></div></div></p>
  <p><div class="row"><div class="col-2"><%=image_tag "teleg_header.png", class: "header_icon_img"%></div><div class="col-9"><span class="header_icon"><%= Spree::Config.telegram%></span></div></div></p>
  <p><div class="row"><div class="col-2"><%= image_tag("phone_header.png" , class: "header_icon_img")%></div><div class="col-9"><span class="header_icon"><%= Spree::Config.first_phone%></span></div></div></p>
  <p><div class="row"><div class="col-2"><%= image_tag("phone_header.png" , class: "header_icon_img")%></div><div class="col-9"><span class="header_icon"><%= Spree::Config.second_phone%></span></div></div></p>
</div>
  <div class="col-12 text-center">
  <%= image_tag("mail_header.png", class: "footer_icon")%>
  <span class="header_icon"><%=Spree::Config.email%></span>
</div>

  </div>
  <div id="sidenav_blue"></div>


  <header id="header" class="d-flex  align-items-center header-spree border-bottom">
    <div class="container-fluid  header-spree-fluid margin_header">

      <div class="row justify-content-center logo_head">
          <div>
            <figure class="logo flex-grow-0 flex-xl-grow-1 order-xl-0 header-spree-fluid-logo m-0 float">
              <%= logo %>
            </figure>
            <span class="padding_top"><span class="zn_title"><span class="second"><%=Spree.t('homepage.znak')%></span></span></span>
          </div>
        </div>



      <div class="d-flex flex-nowrap align-items-center ">
        <div class="burger_size">
        <ul class="header_ul">
          <li>
        <%=link_to image_tag("burger.png" , class: "size_header"), "#", id:"openNav" %>
      </li>
      <li>
        <%= link_to image_tag("search_button.png", class: "size_header"), "#", id: "search-icon" %>
      </li>
    </ul>

    <div id="search-drop">
      <%= render partial: 'spree/shared/search' %>
    </div>
    </div>
    <div class="zn_size">
      <div class="logo_second">
        <div class="center_second">
          <figure class="logo flex-grow-0 flex-xl-grow-1 order-xl-0 header-spree-fluid-logo m-0 float">
            <%= logo %>
          </figure>
          <div class="log_small"><%=Spree.t('homepage.znak')%></div>
        </div>
      </div>
        <div id="main-nav-bar" class=" flex-grow-0 display h-100 header-spree-fluid-primary-navigation">
          <%= render partial: 'spree/shared/main_nav_bar' %>
        </div>
      </div>
      <div class="burger_size_last">
        <div id="top-nav-bar" class="flex-grow-1 header-spree-fluid-secondary-navigation">
          <%= render partial: 'spree/shared/nav_bar' %>
        </div>
        <%= render partial: 'spree/shared/mobile_navigation' %>
      </div>
    </div>
    </div>
  </header>
</div>
<% end %>
