<ul id="nav-bar" class="nav align-items-center d-flex justify-content-end navbar-right">

  <% if !spree_user_signed_in? %>
    <li class="login_out">
      <%= link_to Spree.t('nav_bar.log_in'), spree_login_path, class: "main_nav main-nav-bar-item main-nav-bar-button header_title_category"  %>
    </li>
    <%else%>
    <li class="login_out"><%= link_to Spree.t('nav_bar.log_out'), spree_logout_path, class: "main_nav main-nav-bar-item main-nav-bar-button header_title_category", method: :get  %></li>
  <% end %>
  <li id="link-to-cart">
    <%= render 'spree/shared/cart', class: 'display d-xl-inline-block cart-icon--xl', size: 36, item_count: 0 %>

  </li>

  <li >
    <div class="btn-group language">
          <button type="button" class="btn btn-default dropdown-toggle btn_lang" data-toggle="dropdown">
            <%=image_tag("#{I18n.locale}.png", class: "locale_size")%>
          <span class="caret"></span>
          </button>
          <div class="dropdown-menu lang" role="menu">
            <div class="choose_lang"><%= link_to "<div class='inside_lang'><span class='text_lang'>RU</span>#{image_tag('ru.png', class: "locale_size")}</div>".html_safe, spree.set_locale_path(switch_to_locale: 'ru'), method: :post %></div>
            <div class="choose_lang"><%= link_to "<div class='inside_lang'><span class='text_lang'>UK</span>#{image_tag('uk.png', class: "locale_size")}</div>".html_safe, spree.set_locale_path(switch_to_locale: 'uk'), method: :post %></div>
          </div>
        </div>

  </li>

</ul>
