<% url = spree.product_path(product, taxon_id: @taxon&.id) %>


<div class="card card_index product_card" >
  <%= link_to url, class: 'h-100 flex-column justify-content-between display_flex' do %>
  <div class="default_choose  products_image">
  <%= plp_and_carousel_image(product, image_class) %>
</div>
<%cache product_cache(product,id) do %>
<div class="card-body-prod name_product" title="<%= product.name %>">
  <%= product.name %>
</div>
<div class="card-footer money_product">
  <%if product.empty_price%>
  <%=Spree.t(:empty_price)%>
  <%else%>
  <%if !product.price_for_index(role_id: id).nil?%>
  <%product.price_for_index(role_id: id).each do |price|%>
  <%= number_to_currency(price, unit: "₴", separator: ".", delimiter: "", format: "%u %n") %>
<%end%>
<%else%>
<%= number_to_currency(0.00, unit: "₴", separator: ".", delimiter: "", format: "%u %n") %>
<%end%>
<%end%>
</div>
</div>
<% end %>
<%end %>
