<% url = spree.product_path(product, taxon_id: @taxon&.id) %>

<%cache product_cache(product,id) do %>
<div class="card card_index product_card" >
  <%= link_to url, class: 'h-100 flex-column justify-content-between display_flex' do %>
  <div class="default_choose  products_image">
  <%if default_image_for_product_or_variant(product)%>
  <%= image_tag main_app.url_for(default_image_for_product_or_variant(product).attachment.variant(combine_options: {
    resize: "245x219^",
    gravity: "center",
    crop: "245x219+0+0",
    strip: true,
    quality: "100%"
  })),
  class: "product-component-image d-block mw-100" %>
  <%else%>
  <%=image_tag("no_img.png", class: "product-component-image d-block mw-100")%>
  <%end%>
</div>
<div class="card-body-prod name_product" title="<%= product.name %>">
  <%= product.name %>
</div>
<div class="card-footer money_product">
  <%if !product.price_for_index(role_id: id).nil?%>
  <%product.price_for_index(role_id: id).each do |price|%>
  <%= number_to_currency(price, unit: "₴", separator: ".", delimiter: "", format: "%u %n") %>
<%end%>
<%else%>
<%= number_to_currency(0, unit: "₴", separator: ".", delimiter: "", format: "%u %n") %>
<%end%>
</div>
</div>
<% end %>
<%end %>
